
/*.navbar-default {
    background-color: transparent;
}

.nav > li > a {
    padding: 0px;
}
.navbar-brand
{
	padding: 0px;
	height: inherit;
	font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand {
    color: #fff;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFD34E;
    background-color: transparent;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 0px 20px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	color: #FFD34E;
}

.navbar-fixed-top {
    padding: 40px 0;
    transition: all 0.5s;
}

.top-nav-collapse {
    background: rgba(0,0,0,0.8);
    padding: 25px 0;
}
*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-brand img {
	width: 150px;
}
.navbar-blue {
	background-color: #4781CA;
}
.white {
	color: #fff;
}
.sidebar {
	background-color: #F7F7F7;
	top: 58px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 50px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    position: fixed;
}
.main {
	padding: 0px 50px;
	margin-top: 80px;
}
#introduction {
	background: linear-gradient(90deg, #041D4F, rgba(255,255,255,0.5)), url(../images/career-image.jpg) 0% 10%/ cover;
	width: auto;
	/*height: 500px;
	margin-top: -30px;*/
}

#introduction-login {
	background: linear-gradient(60deg, #041D4F, rgba(4,29,79, 0.2)), url(../images/loginimage.jpg) 0% 10%/ cover;
	width: auto;
	/*height: 500px;
	margin-top: -30px;*/
}

#introduction-signup {
	background: linear-gradient(60deg, #041D4F, rgba(4,29,79, 0.2)), url(../images/signup-banner.png) 0% 10%/ cover;
	width: auto;
	/*height: 500px;
	margin-top: -30px;*/
}
#feature {
	
}
.fill-viewport {
	min-height: 100vh
}
/*.text-white {
	color: white;
}*/

.intro {
	padding-top: 250px;
}
.center {
	padding-top: 100px;
}

.catch-phrase {
	margin-top: 100px;
	border: 1px solid #56CCF2;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.35);

}
.catch-phrase2 {
	margin-top: 100px;
	border: 1px solid #F2C94C;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.35);
}
.catch-phrase3 {
	margin-top: 100px;
	border: 1px solid #27AE60;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.35);
}
.catch-phrase4 {
	margin-top: 100px;
	border: 1px solid #BB6BD9;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.35);
}

.heading1 {
	color: #56CCF2;
}

.heading2 {
	color: #F2C94C;
}

.heading3 {
	color: #27AE60;
}

.heading4 {
	color: #BB6BD9;
}

.text-white-70 {
	color: rgba(255, 255, 255, 0.7);
}
.welcome {
	padding-top: 20px;
}
.btn-custom {
	background-color: #31D676;
	margin-top: 50px
}
.btn-custom2 {
	background-color: #31D676;
}

.btn-nav {
	background-color: #fff;
	padding: 5px 10px 5px 10px;
    margin-top: 3px;
}
.btn-nav2 {
    background-color: rgba(0,0,0,0.5);
    padding: 5px 10px 5px 10px;
    margin-top: 3px;
}
.text-dark {
	margin-bottom: 50px;
}
.nav-item {
	padding-right: 20px;
}

.title {
	font-weight: 600;
}
.text-green {
	color: #31D676;
}
.fa{
	color: #31D676;
}
#fa-black {
	color: #4f4f4f;
}
#fa-black2 {
	color: #4f4f4f;
	margin-right: 20px;
}
.font-small {
	font-size: small;
}
#fa-white {
	color: #fff;
}
.icons {
	margin: 150px 0px  50px  0px;
}

#welcome-note {
	background-color: #4983CA;
}

/*.white-border {
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: inherit;
}*/
input[type="text"],
select.white-border {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.white-border:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#home-contact {
    /* background-color: #243040; */
    background-image: linear-gradient( 45deg, #457FCA 100%, #5691C8 10%);
    /* padding: 50px; */
    margin-top: 100px;
    /* padding-top: 100px; */
    padding: 50px 100px 50px 30px;;
    /* padding-bottom: 200px; */
}
#home-join {
	background-color: #fff;
	background-image: url(../images/amani_0.png);
	padding: 60px;
	margin-top: 100px;
}


#footer {
	background-color: rgba(0, 192, 252, 0.1);
}

.margin-100 {
	padding-top: 100px;
}
.margin20 {
	margin-top: 20px;
}
.margin50 {
	margin: 10px 60px 10px 60px;
}
.margin-bottom {
	margin-bottom: 30px;
}

.margin-login {
    margin-bottom: 50px;
    margin-top: -100px;
}

.margin-signup {
    margin-bottom: 40px;
}
.inc {
	padding: 30px 0px 50px 0px;
}
.img-small {
	width: 30px;
}
#login-label {
	display: -webkit-box;
	color: #dcdbdb;
	font-size: 1.3rem;
}
.text-white2 {
	color : #dcdbdb;
}

.btn-loginform {
	background-color: #31D676;
    border: transparent;
    width: -webkit-fill-available;
}
#btn-search {
	color: #fff;
    background-color: #31D676;
    font-size: small;
}
#searchbar {
	height: fit-content;
	align-self: center;
}
.user-picture img {
	width: 200px;
	height: 200px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	border: 1px solid #31D676;
}
.nav-user-img {
	width: 30px;
	height: 30px;
}
.user-name {
	margin-bottom: 20px;
}
#profile-search {
	background-color: white;
    border-radius: 5px;
    width: -webkit-fill-available;
    font-size: small;
}
.user-info {
	margin: 10px 0px 0px 0px;
}
.m-right {
	margin-right: 10px;
}
.exp-details {
	margin-left: 50px;
	font-size: 0.8rem;
}
.btnskill {
	margin: 5px;
	font-size: small;
}
.portfolio-image {
	width: inherit;
}


@media (min-width: 20px) and (max-width: 450px) {
	#margin-mobile {
		margin-bottom: 70px;
		margin-top: 20px;
	}

	#margin-mobile2 {
		margin-top: 70px;
	}
}